swagger: "2.0"
info:
  host: idmatch.co
  description: Document recognition based on OpenCV
  title: Go-idmatch
  contact:
    name: Mad Devs
    email: rock@maddevs.io
    url: https://idmatch.co
consumes:
- multipart/form-data
produces:
- application/json
schemes:
- https
paths:
  /ocr:
    post:
      summary: Send document image to recognition engine
      parameters:
        - in: formData
          name: url
          type: string
          description: Image URL
          example: http://grs.gov.kg/uploads/a/admin/5733b07170.png
        - in: formData
          name: id
          description: Document image
          type: file
      responses:
        200:
          description: JSON with recognized text
          content:
            application/json:
          schema:
            $ref: "#/definitions/item"
        default:
          description: generic error response
          content:
            application/json:
          schema:
            $ref: "#/definitions/error"
definitions:
  item:
    type: object
    properties:
      firstname:
        type: string
        example: Гитхаб
      surname:
        type: string
        example: Октокот
      middlename:
        type: string
        example: Оупенсорсович
      serial:
        type: string
        example: AN01234567
      birthday:
        type: string
        example: 01.01.1970
      gender:
        type: string
        example: Э
  error:
    type: object
    required:
      - message
    properties:
      message:
        type: string
        example: "Internal server error"